* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #75fd92;
  --yellow: #d8b53a;
  --blue: #1acbe9;
  --black: #000000;
  font-size: 62.5%; /*1rem = 10px*/
}

/*=================BODY=================*/

body {
  width: 100%;
  height: 100vh;
  background: url("assets/background.svg");
  background-size: cover;
}

/*=================HEADER=================*/

header img {
  z-index: 100;
  display: block;

  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;

  width: 10rem;
  height: 10rem;

  border-radius: 50%;
  border: 0.4rem solid var(--yellow);

  background: none;

  padding: 0.4rem;
}

header {
  z-index: 100;
  display: flex;

  flex-direction: column;

  text-align: center;
}

h1,
h4,
p {
  line-height: 150%;

  font-family: "Prompt", sans-serif;
  font-style: normal;
}

header h1 {
  color: var(--black);

  margin-bottom: 0.8rem;
  margin-inline: auto;

  font-size: 3.2rem;
}

header h4 {
  font-size: 1.6rem;
  color: var(--black);

  margin-bottom: 0.8rem;
}
header p {
  color: var(--black);

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

/*======================CANVAS======================*/
canvas {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}

/*=================LINKS=================*/

.social-links li {
  padding: 1.4rem;
}

.social-links li a {
  cursor: pointer;

  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-inline: auto;

  font-family: "Prompt", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 1.4rem;

  line-height: 150%;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background: #e9c43e;

  padding: 1.6rem 13rem;

  gap: 2rem;

  width: 1rem;
  height: 5rem;

  border-radius: 0.6rem;

  list-style-type: none;

  transition: background 700ms;
}

.social-links li a:hover {
  background: #af8d0f;
}
