* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #75fd92;
  --yellow: #d8b53a;
  --blue: #1acbe9;
  --black: #000000;
}

/*=================BODY=================*/

body {
  width: 100%;
  height: 100vh;
  background-color: #dddddd;
}

/*=================HEADER=================*/

header img {
  z-index: 100;
  display: block;

  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 20px;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 4px solid var(--yellow);

  background: #dddddd;

  padding: 4px;
}

header {
  z-index: 100;
  display: flex;

  flex-direction: column;

  text-align: center;
}

h1,
h4,
p {
  line-height: 150%;

  font-family: Roboto;
  font-style: normal;
}

header h1 {
  color: var(--black);

  margin-bottom: 8px;
  margin-inline: auto;

  font-size: 32px;
}

header h4 {
  color: var(--black);

  margin-bottom: 8px;
}
header p {
  color: var(--black);

  font-size: 18px;

  margin-bottom: 20px;
}

/*======================CANVAS======================*/
canvas {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}

/*=================LINKS=================*/

.social-links {
  z-index: 100;
  display: block;

  justify-items: center;

  text-align: center;
}

.social-links li {
  margin-inline: auto;

  padding: 16px 20px;
}

.social-links li a {
  cursor: pointer;

  display: flex;
  flex-direction: row;

  justify-items: center;

  justify-content: space-around;

  margin-inline: auto;

  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;

  line-height: 150%;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background: #ffc904;

  padding: 16px 100px;

  gap: 26px;

  width: 10px;
  height: 50px;

  border-radius: 6px;

  list-style-type: none;

  transition: background 700ms;
}

.social-links li a:hover {
  background: #af8d0f;
}
